<!-- 基本設定の実行 -->
<p><%=message%></p>
<br>
<hr>
<p>ロボットの名前 <%= obj_config.data0[0].name %></p>
<p>ユーザーの名前 <%= obj_config.data0[0].user %></p>
<p>マイク感度 <%= obj_config.data0[0].mic %></p>
<p>スピーカー音量 <%= obj_config.data0[0].vol %></p>
<hr>
<br>
<p><a href="/">トップページに戻る</a></p>
